#form
{
    box-shadow: 2px 2px 2px grey;
    border: 1px solid grey;
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    margin: auto;
}
.col
{
    border-radius: 5%;
}
#userphotohere
{
    width: 100px;
    height:100px;
    border-radius: 50%;
    margin-left: 7%;
    box-shadow: 1px 1px 1px 1px grey;
}

#userphotohere:hover
{
    border: 1px solid rgb(125, 125, 172);
    box-shadow: 2px 2px 2px 2px grey;
}
h4,h6,button,label{
    padding-left: 2%;
    
}
/* .input,input{
    font-size: 70px;
    max-width:400px;
} */
#logindiv
{
    height: '100vh';
    display: 'flex';
    
    flex-direction: 'column';
    align-items: 'center';
    justify-content: 'center';
}
#userphoto{
    margin-left: 5%;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

#rid{
    font-size: 18px; 
    max-width: 400px; 
    margin-top: 15px;
}
#priceuser{
    font-size: 18px; 
    max-width: 400px; 
    margin-top: 15px;
}
#gettedname{
    font-size: 18px; 
    width: 400px; 
    margin-top: 15px;
}
/* This is the bootstrap buttons */
/* The heart of the matter */

  /* This is the bootstrap buttons */
@media all and (max-width:1000px)
{
    #priceuser{
        font-size: 18px; 
        max-width: 90%; 
        margin-top: 15px;
    }
    #userphoto{
        margin-left: 3%;
        margin-top: 2%;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    #rid{
        font-size: 18px; 
        max-width: 90%; 
        margin-top: 15px;
    }
    
    #gettedname{
        font-size: 18px; 
        max-width: 90%; 
        margin-top: 15px;
    }
    .input{
        
        font-size: 15px;
        width:90%;
    }
    input{
        font-size: 15px;
        width:90%;
    }
}