#logo {
    margin-left: 6%;
    font-size: 39px;
    color: rgb(26, 107, 204);
    font-weight: 900;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.3rem;
    padding-left: .3rem;
}
#headerDropdownAlert {
    margin-top: 10px;
    margin-left: -900%;
}

#navbarSupportedContent {
    margin-left: 9%;
    width: 100%;
}

#navbarDropdown1, #navbarDropdown2, #navbarDropdown3, #navbarDropdown4, #navbarDropdown5, #navbarDropdown6, #navbarDropdown7 {
    font-size: 13px;
    color: rgb(83, 83, 83);
}

#Log, #Sign {
    margin-left: 10px;
    font-size: 14px;
    margin-top: 5px;
    color: rgb(102, 208, 251);
}

#Sign {
    margin-right: 20px;
}

#Log a, #Sign a {
    text-decoration: none;
    color: inherit;
}

#Log:hover, #Sign:hover {
    color: rgb(118, 214, 185);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

#alertBtn {}

#alert {
    height: 130px;
    max-width: 380px;
    box-shadow: 2px 2px 2px 2px grey;
    display: flex;
    flex-direction: column;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle:after {
    display: inline-block;
    margin-left: -5px;
    vertical-align: 0.255em;
    content: "";
    border-top: -0.0em solid;
    border-right: 0 solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

#navbarDropdown7 {
    background-color: orange;
}

.nav-item .dropdown-menu .dropdown-item {}

.nav-item .dropdown-menu .dropdown-item:hover {
    color: white;
    background-color: rgb(75, 195, 249);
}

#dropdownMenuButton {
    background-color: transparent;
    box-shadow: transparent;
}

@media all and (max-width:1035px) {
    #dropdownMenuButton {
        display: none;
    }
}

@media all and (max-width:992px) {
    #headerDropdownAlert {
        margin-left: 0%;
    }
}