.link
{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.link:hover
{
    color: white;
    transition: 0.0s linear;
    text-decoration: underline;    
}
Link{
    color: black;
}
#indexContainer
{
   background-color: rgb(81, 91, 109);
   color: white;
   padding-left: 4%;
   text-align: left;
   padding-right: 3%;
}
@media all and (max-width:570px) {
    #break{
        display: none;
    }   
}