#GreatBox
{
    background-color: #ebebeb !important;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px grey;
    width: 82%;
    margin: 0 auto;
}
#carouselExampleIndicators
{
    margin: 0 auto;
    width: 75%;
    box-shadow: 5px 5px 8px grey;
    border-radius: 10px 10px 10px 10px;
}
@media all and (max-width:1000px)
{
    #GreatBox
    {
        width: 100%;
    }
    #carouselExampleIndicators
    {
        width: 100%;
    }
}
@media all and (max-width:600px)
{
    #GreatBox
    {
        width: 100%;
    }
    #carouselExampleIndicators
    {
        width: 100%;
    }   
}