#smallcard {
    width: 69%;
    margin-left: 7%;
    border: 1px solid rgb(192, 218, 241);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1x 1px 1px 1px rgb(87, 86, 86);
    /* height: 120%; */
}

#smallcard:hover {
    box-shadow: 2px 2px 2px 2px grey;
}

#heart2 {
    text-align: right;
    padding-left: 50%;
    font-size: 30px;
    color: grey;
    /* border: 1px solid rgb(66, 66, 66); */
}
.thingsText2{
    padding-left: 10px;
    padding-top: 6px;
}
#heart2:hover {
    color: rgb(201, 30, 30);
    text-shadow: 2px 2px 2px grey;
}

#priceSmall {
    color: #0b63c9;
    padding-top: 0%;
    padding-left: 0%;
}

#rightImage {
    width: 100%;
    padding-top: 0%;
    /* padding-top: 16%; */
}

#smallSecondColumn {
    /* width: 45%; */
    padding-left: 0%;
}

#leftSmallImage {
    width: 105%;
    margin-left: -4.5%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
}

#title2{
    padding-top: 3%;
    font-size: 13px;
    font-weight: lighter;

    width: 100%;
    height: 100%;
    /* white-space: pre; */
    overflow: hidden !important;
    text-overflow: ellipsis;

}

#titleSecond {
    font-size: 13px;
}
.things2
{
    font-size: 20px;
    margin-left: 5%;
}
/* @media all and (max-width:1260px)
{
    #smallcard{
        width: 55%;
    }
}
@media all and (max-width:1260px)
{
    #smallcard{
        width: 60%;
    }
}
@media all and (max-width:1100px)
{
    #smallcard{
        width: 65%;
    }
}

@media all and (max-width:1100px)
{
    #smallcard{
        width: 65%;
    }
} */
@media all and (max-width:960px)
{
    
        #smallcard {
            width: 70%;
                margin-left: 7%;
        }
    
}
@media all and (max-width:855px)
{
    
        #smallcard {
            width: 80%;
            margin-left: 1%;
        }
    
}
@media all and (max-width:768px) {
    #rightImage {
        width: 100%;
        padding-top: 0%;
        /* padding-top: 16%; */
    }
    #leftSmallImage {
        width: 100%;
        margin-left: 0%;
        height: 100%;
        border-radius: 5px 0px 0px 5px;
    }
    #smallSecondColumn{
        padding-left: 3%;
    }
}
@media all and (max-width:577px) {
    #rightImage {
        width: 30%;
        padding-top: 0%;
        /* padding-top: 16%; */
    }
    #smallcard {
        width: 70%;
        margin: auto;
    }
}
@media all and (max-width:455px) {
    /* #rightImage {
        width: 30%;
        padding-top: 0%;
        padding-top: 16%; 
    } */
    #smallcard {
        width: 80%;
    }
}
@media all and (max-width:350px)
{
    #smallcard {
        width: 90%;
    }
}
@media all and (max-width:490px) {
    /* .leftrow
    {
        width: 96%;
        margin-top: 2%;
        height: 150px;
    } */
}
@media all and (max-width:280px) {
    #heart2 {
        padding-left: 40%;
    }
}
@media all and (max-width:300px) {
    #smallcard {
        width: 90%;
    }
}